header{
  align-items: center;
  color:blue;

}
.box2{
  text-align: center;
margin:auto
width: 50%;
  color:blue;
padding: 10px;

}
.box
{
  text-align: center;
margin:auto;
width: 50%;
  color:blue;
padding: 10px;
  }
  .gDate{

  }
body{

  font-family: 'Palanquin', Arial, sans-serif!important;
  font-size: 18px!important;
  text-align: center;
     border: 3px solid blue;

}

  }
  #monkey3{
    display:inline;
  }
  #envelope
  .gNewBody{

  }
